<app-navbar></app-navbar>

<button class="btn btn-round google-sign-in" class="float" (click)="signInHandler()">
  <img [src]="'assets/img/google.svg'" alt="google"/>
  <span></span>
</button>

<!-- <a href="" class="float" (click)="signInHandler()">
  <i class="fa fa-google-plus my-float" ></i>
  </a> -->

<!-- Footer-->
<footer class="container" class=" fixed-bottom sticky-bottom bg-light p-0 ">
  <div >
    <div class="row">
      <div class="col-md-3"><span class="copyright text-dark" style="color: #000000;">Copyright&nbsp;© Top Deals 2021</span></div>
      <div class="col-md-2">
          <ul class="list-inline social-buttons">
              <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
      </div>

      <!-- Google Pay -->
      <div class="col-md-5">
          <ul class="list-inline quicklinks">

              <li class="list-inline-item"><span style="color: #000000; padding-left: 500px;">Contribution:
                <!-- <i class="fa fa-inr" style="color: #fed136; padding-left: 100px;">100</i> -->
              </span></li>
              <!-- <li class="list-inline-item"><a href="#">Terms of Use</a></li> -->
              <!-- <li class="list-inline-item"><span style="color: #fed136;">to add more features</span></li> -->
          </ul>
      </div>
      <div class="col-md-1">
        <ul class="list-inline ">
          <!-- <span style="color: #fed136;">Contribute Now<i class="fa fa-inr" style="color: #fed136; margin-right: 10px;">100</i></span> -->
            <!-- <li class="list-inline-item"><p style="color: #fed136;">Contribute Now</p></li>
            <li class="list-inline-item"><i class="fa fa-inr" aria-hidden="true"  style="color: #fed136;">100</i></li> -->
            <li>
                  <google-pay-button
                  environment="TEST"
                  buttonType="pay"
                  buttonSizeMode="fill"
                  buttonColor="white"
                  [paymentRequest]="{
                      apiVersion: 2,
                      apiVersionMinor: 0,
                      allowedPaymentMethods: [
                        {
                          type: 'CARD',
                          parameters: {
                            allowedAuthMethods: ['PAN_ONLY', 'CRYPTOGRAM_3DS'],
                            allowedCardNetworks: ['AMEX', 'VISA', 'MASTERCARD']
                          },
                          tokenizationSpecification: {
                            type: 'PAYMENT_GATEWAY',
                            parameters: {
                              gateway: 'example',
                              gatewayMerchantId: 'exampleGatewayMerchantId'
                            }
                          }
                        }
                      ],
                      merchantInfo: {
                        merchantId: '4466-5170-2400',
                        merchantName: 'Antony S Chirayil'
                      },
                      transactionInfo: {
                        totalPriceStatus: 'FINAL',
                        totalPriceLabel: 'Total',
                        totalPrice: '10.00',
                        currencyCode: 'INR',
                        countryCode: 'IN'
                      }
                    }"
                  (loadpaymentdata)="onLoadPaymentData($event)"
                  >
                   </google-pay-button>
            </li>
        </ul>
    </div>
  </div>
  </div>
</footer>

<router-outlet></router-outlet>
