

<div class="container">

  <!-- Google Authentication -->
  <div class="container-fluid">
    <div class="custom-card">

      <div class="text-center mb-4">
        <img [src]="userDetails?.photoUrl" alt="user-avatar" class="user-avatar"/>
      </div>

      <p class="mb-2">
        <span class="font-weight-bold">Name: </span>{{userDetails?.name}}
      </p>

      <p class="mb-2">
        <span class="font-weight-bold">Email: </span>{{userDetails?.email}}
      </p>

      <button class="btn btn-block btn-danger mt-4" (click)="signOut()">Sign out</button>

    </div>
</div>
<!-- Google Authentication End -->


  <!-- Search bar -->
  <div class="row g-3 align-items-center">
    <p></p>
    <div class="col-auto">
      <label class="col-form-label text-white text-bolder">Search : </label>
    </div>
    <div class="col-auto search-product">
      <input type="text"  class="form-control" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="search">
    </div>
    <div class="col-auto">
      <span class="form-text text-dark">
        Search by Brand, Category & Offer
      </span>
    </div>
  </div>
  <!-- Search Bar End -->


  <!-- Card Designed Elements -->

  <div class="row row-cols-1 row-cols-md-4 mb-5 text-center ">

    <div class="col-sm" *ngFor="let product of coupons | filter:searchText"> <!-- iteration + Search pipe -->


<div  class="p-3 animated pulse" style="margin-left: 20px;">
  <div class="col-12 shadow mb-3 rounded coupon-card"  style="max-width: 500px;" >
    <!-- <div class="row g-0" > -->
      <div class="col-md-3 coupon-card-element rounded-start">
        <div class="coupon-element1 text-center ">
          <!--<p>15% Off</p>-->

          <p class="flash animated pulse infinite" style="color:rgb(0, 0, 0)">
            <i class="fa fa-bell-o" aria-hidden="true"></i>
            {{product.description}}</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="p-2 coupon-element2 text-center">
          <p class="deal-title">{{product.provider}}</p>
          <p class="deal-title">{{product.category}}</p>
        </div>
      </div>
      <div class="col-md-3 text-center coupon-card-element">
        <div class="mt-4">
          <button type="button" class="btn bg-transparent" (click)=updatepcode(product.code,product.expiryDate) data-bs-toggle="modal" data-bs-target="#exampleModal3" style="background-color: orange;" >
            <i class="fa fa-envelope-open-o" aria-hidden="true"></i>
            <!-- Show Code -->
          </button>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->
    </div>
  </div>
</div>



<!-- Show Code Pop Up -->

<div >
  <!-- Modal -->
  <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Copy Paste! Voila!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <main class="modal__content">
            <p ><span style="font-weight: bold;">Expiry Date:</span> {{edate}}</p>
            <div class="code-wrap">
              <div class="code">
                <p><span style="font-weight: bold;">Coupon: </span>{{pcode}}</p>
              </div>
              <!-- <button class="btn btn-primary copy-text">Copy</button> -->
            </div>
          </main>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>
</div>

