<header class="masthead header-image">
  <div class="container">
      <div class="intro-text">

          <div class="intro-heading text-uppercase"><span>Deals &amp; Coupons&nbsp;</span></div><a class="btn btn-warning p-3 pulse animated infinite btn-xl text-uppercase header-button" role="button"  data-bs-toggle="modal" data-bs-target="#exampleModal1" >Register</a>
      </div>
  </div>
</header>
<section id="services">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="text-uppercase section-heading">Services</h2>
              <h3 class="text-muted section-subheading">We've got the Services you need!</h3>
          </div>
      </div>
      <div class="row text-center">
          <div class="col-md-4" data-bss-hover-animate="pulse"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-certificate fa-stack-1x fa-inverse"></i></span>
              <h4 class="section-heading">Best Deals</h4>
              <p class="text-muted">If you think that you need&nbsp;a <strong>Great Deal&nbsp;</strong>then visit Our Website.<br><br></p>
          </div>
          <div class="col-md-4" data-bss-hover-animate="pulse"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-eercast fa-stack-1x fa-inverse"></i></span>
              <h4 class="section-heading">Offers &amp; Discounts<br></h4>
              <p class="text-muted">We are providing<strong> Exclusive Offers &amp; Discounts </strong>on what you want!&nbsp;</p>
          </div>
          <div class="col-md-4" data-bss-hover-animate="pulse"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-gittip fa-stack-1x fa-inverse"></i></span>
              <h4 class="section-heading">Free Coupons</h4>
              <p class="text-muted">You can't find <strong>Free Coupons</strong> like we are Providing!</p>
          </div>
      </div>
  </div>
</section>
<section class="bg-light" id="portfolio" style="padding: 96px 0px;">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">Collaborators</h2>
              <h3 class="text-muted section-subheading"></h3>
          </div>
      </div>
      <div class="row">
          <div class="col-sm-6 col-md-4 portfolio-item" data-bss-hover-animate="bounce"><a class="portfolio-link" href="#portfolioModal1" data-bs-toggle="modal">
                  <div class="portfolio-hover">
                      <div class="portfolio-hover-content">Amazon</div>
                  </div><img class="img-fluid" src="https://logodix.com/logo/233733.gif">
              </a>

          </div>
          <div class="col-sm-6 col-md-4 portfolio-item" data-bss-hover-animate="bounce"><a class="portfolio-link" href="#portfolioModal2" data-bs-toggle="modal">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">Flipkart</div>
                  </div><img class="img-fluid" src="https://cdn.dribbble.com/users/1980856/screenshots/4760116/comp_3.gif">
              </a>

          </div>
          <div class="col-sm-6 col-md-4 portfolio-item" data-bss-hover-animate="bounce"><a class="portfolio-link" href="#portfolioModal3" data-bs-toggle="modal">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">Myntra</div>
                  </div><img class="img-fluid" src="https://cdn.dribbble.com/users/1873555/screenshots/11262329/media/64b6719e36e17eeedbb41eb47624a8ba.gif">
              </a>

          </div>
          <div class="col-sm-6 col-md-4 portfolio-item" data-bss-hover-animate="pulse"><a class="portfolio-link" href="#portfolioModal4" data-bs-toggle="modal">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">Ajio</div>
                  </div><img class="img-fluid" src="https://dumynlq1n57zm.cloudfront.net/article/167/27bbbcc-phpU6MBaZ.gif">
              </a>

          </div>
          <div class="col-sm-6 col-md-4 portfolio-item" data-bss-hover-animate="pulse"><a class="portfolio-link" href="#portfolioModal5" data-bs-toggle="modal">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">Zomato</div>
                  </div><img class="img-fluid" src="https://cdn-images-1.medium.com/max/184/1*OLtNR7kUtIKG7Ovj3TNMzQ@2x.jpeg" style="padding: 30px;">
              </a>

          </div>
          <div class="col-sm-6 col-md-4 portfolio-item" data-bss-hover-animate="pulse"><a class="portfolio-link" href="#portfolioModal6" data-bs-toggle="modal">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">Swiggy</div>
                  </div><img class="img-fluid" src="https://c.tenor.com/DQrrnRs5fuwAAAAM/swiggy-pancakes.gif">
              </a>

          </div>
      </div>
  </div>
</section>
<section id="about" style="margin-bottom: -146px;">
  <header class="masthead" style="background: url(&quot;./assets/img/about-bg.jpg&quot;);margin: 0px 0px 50px;background-color: rgb(190, 0, 0);">
      <div class="overlay"></div>
      <div class="container" data-bss-hover-animate="bounce" style="height: 300.149px;margin-bottom: -42px;">
          <div class="row" style="margin: -134px;">
              <div class="col-md-10 col-lg-8 mx-auto position-relative" style="margin-bottom: 50px;margin-top: 0px;">
                  <div class="site-heading" style="margin-top: 135px;">
                      <h1 data-bss-hover-animate="pulse" style="color: rgb(255, 250, 250);font-size: 50px;">About Me</h1>
                  </div>
              </div>
          </div>
      </div>
  </header>
</section>
<section class="bg-light" id="team">
  <div class="container">
      <div class="row">
          <div class="col">
              <div class="team-member"><img class="rounded-circle mx-auto" data-bss-hover-animate="pulse" src="assets/img/passportsize.jpg" style="width: 151px;height: 184px;margin: -11px;">
                  <h4>Antony</h4>
                  <p class="text-muted flash animated infinite">Web Developer</p>
                  <p class="text-muted">Seeking a beginner role to enhance and explore my technical knowledge gained at Capgemini-Training in the last 2 months.<br></p>
                  <ul class="list-inline social-buttons">
                      <li class="list-inline-item"><a data-bss-hover-animate="bounce" href="#"><i class="fa fa-twitter"></i></a></li>
                      <li class="list-inline-item"><a data-bss-hover-animate="pulse" href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                      <li class="list-inline-item"><a data-bss-hover-animate="pulse" href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</section>



<section id="contact" style="background-image: url('assets/img/map-image.png');margin-top: -100px;">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="text-uppercase section-heading">Contact ME</h2>
              <h3 class="text-muted section-subheading">Feel Free To Contact Me</h3>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-12">
              <form id="contactForm" name="contactForm" novalidate="novalidate" data-bss-recipient="8b73544894516b1a783ac556a2f3db1e" data-bss-subject="Daily Deals - Contact Form">
                  <div class="row">
                      <div class="col-md-6">
                          <div class="form-group mb-3"><input class="form-control" type="text" id="name" placeholder="Your Name *" required=""><small class="form-text text-danger flex-grow-1 help-block lead"></small></div>
                          <div class="form-group mb-3"><input class="form-control" type="email" id="email" placeholder="Your Email *" required=""><small class="form-text text-danger help-block lead"></small></div>
                          <div class="form-group mb-3"><input class="form-control" type="tel" placeholder="Your Phone *" required=""><small class="form-text text-danger help-block lead"></small></div>
                      </div>
                      <div class="col-md-6">
                          <div class="form-group mb-3"><textarea class="form-control" id="message" placeholder="Your Message *" required=""></textarea><small class="form-text text-danger help-block lead"></small></div>
                      </div>
                      <div class="w-100"></div>
                      <div class="col-lg-12 text-center">
                          <div id="success"></div><button class="btn btn-primary btn-xl text-uppercase" id="sendMessageButton" type="submit">Send Message</button>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</section>






