<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="default">
    <head>
        <title>Dashboard</title>
    </head>
    <body>
        <div layout:fragment="content">
            <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
            <h2>This is your Admin Dashboard</h2><br>
            <a href="http://localhost:9005/swagger-ui/index.html?configUrl=/v3/api-docs/swagger-config" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">
                ADMIN DASHBOARD
            </a>
        </div>

    </body>
</html>