<!-- Modal -->
<div class="modal fade" id="AddCouponModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValue">
          <div class="form-group">
              <div class="form-group">
                  <label for="exampleInputEmail1">ID</label>
                  <input type="email" formControlName="id"  class="form-control" id="exampleInputEmail1"  aria-describedby="emailHelp" placeholder="Enter id" >
                </div>
              <label for="exampleInputEmail1">Provider</label>
              <input type="email" formControlName="provider" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter provider">
            </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Code</label>
            <input type="email" formControlName="code" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter code">
          </div>
          <div class="form-group">
              <label for="exampleInputEmail1">Category</label>
              <input type="email" formControlName="category" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Category">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Description</label>
              <input type="email" formControlName="description" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Description">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Expiry Date</label>
              <input type="email" formControlName="expiryDate" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter expirydate">
            </div>
          <button type="submit" class="btn btn-primary" (click)="addCoupon()">Add</button>
          <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="updateCoupon()">Update</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>




<div class="generic-container">
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><span class="lead"><h3>Admin Dashboard</h3></span>
    </div>
    <div class="tablecontainer">
      <div class="border">
        <button class="btn btn-md btn-outline-primary" data-bs-toggle="modal" data-bs-target="#AddCouponModel">
          <i class="fa fa-user" ></i>Add Coupon </button>
      </div>
      <table class="table table-hover table-bordered table-striped">
        <thead>

        <tr>
          <th>Id</th>
          <th>Provider</th>
          <th>Code</th>
          <th>Category</th>
          <th>Description</th>
          <th>expiryDate</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of coupons">
          <td><span>{{product.id}}</span></td>
          <td><span>{{product.provider}}</span></td>
          <td><span>{{product.code}}</span></td>
          <td><span>{{product.category}}</span></td>
          <td><span>{{product.description}}</span></td>
          <td><span>{{product.expiryDate}}</span></td>

          <td>
              <button class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#AddCouponModel" (click)="editCoupon(product)">
                <i class="fa fa-edit"></i>Edit</button>
              <button class="btn btn-sm btn-danger" (click)="deleteCoupon(product.id)">
                <i class="fa fa-remove"></i>Delete</button>
           </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
