.coupon-card{
  padding: 0px;
  width: 100%;

}
.coupon-card-element{
  background-color: orange;
  width: 100%;

}
.coupon-element1{
  font-weight: bolder;
  font-size: larger;
  padding-top: 23px;


}
.coupon-element2{
  font-weight: 500;
  font-size: medium;
  padding-top: 23px;
  font-weight: bold;
}
